[Unit]
Description=Simple JWT Server

[Service]
TimeoutStartSec=5min
Type=simple
User=devel1
Group=devel1
WorkingDirectory=/home/devel1/simplejwtserver
Environment="SIMPLEJWTSERVER_HOME=/home/devel1/simplejwtserver"
Environment="TOKENS_YAML_PATH=/home/devel1/simplejwtserverpersistence/tokens"
Environment="APICLIENTS_YAML_PATH=/home/devel1/simplejwtserverpersistence/apiclients/api-clients.yml"
Environment="JAVA_RUN=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.252.b09-2.el8_1.x86_64/bin/java'"

ExecStart=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.252.b09-2.el8_1.x86_64/bin/java -jar /home/devel1/simplejwtserver/binaries/tomcat-embedded-example-1.0.0.jar
ExecStop=/bin/kill -SIGTERM $MAINPID

SuccessExitStatus=143
StandardOutput=journal
StandardError=journal
SyslogIdentifier=simplejwtserver
LimitNOFILE=500000
LimitNPROC=500000

[Install]
WantedBy=multi-user.target

